# Transfer Data to Cloudant DB

In [1]:
!pip install cloudant
from cloudant.client import Cloudant

Collecting cloudant
  Downloading https://files.pythonhosted.org/packages/ed/46/e0935c7be2452fd923606c97122fedf8793731cd306f79e185082a641adb/cloudant-2.13.0-py3-none-any.whl (79kB)
     |████████████████████████████████| 81kB 7.9MB/s eta 0:00:011
Requirement already satisfied: requests<3.0.0,>=2.7.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from cloudant) (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2020.6.20)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (3.0.4)
Installing collected packages: cloudant
Successfully installed cloudant-2.13.0

### Accessing the DB using Cloudant credentials

In [2]:
client = Cloudant("fff711cd-0e17-4a85-8aec-b4c83b37f08c-bluemix", "352eb3f90b59a9f45c11d1d14399810e7718beaaff192430e96ac274ea8711b5", url='https://fff711cd-0e17-4a85-8aec-b4c83b37f08c-bluemix:352eb3f90b59a9f45c11d1d14399810e7718beaaff192430e96ac274ea8711b5@fff711cd-0e17-4a85-8aec-b4c83b37f08c-bluemix.cloudantnosqldb.appdomain.cloud',
                 connect=True,
                 auto_renew=True)
#the credentials to access my cloudant DB
# uname - fff711cd-0e17-4a85-8aec-b4c83b37f08c-bluemix
#pwd - 352eb3f90b59a9f45c11d1d14399810e7718beaaff192430e96ac274ea8711b5

In [3]:
db = client['food-security']

In [1]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_7f1b516ad1c140ce8739e4a826ef7cfb = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='dou1UKX9h-ex-eJ5H179R0bfOMyhJwc4QhkNhalVJmY0',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_7f1b516ad1c140ce8739e4a826ef7cfb.get_object(Bucket='foodsecurity-donotdelete-pr-cilvxk81vtmfij',Key='FoodBalanceSheet Part1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Unnamed: 0,Country,Item,Element,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Afghanistan,"Fish, Seafood",Production,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,6.0,7.0,8.0,9.0
1,1,Afghanistan,"Fish, Seafood",Import,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Afghanistan,"Fish, Seafood",Domestic supply,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,6.0,7.0,8.0,9.0
3,3,Afghanistan,"Fish, Seafood",Human Consumption,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,6.0,7.0,8.0,9.0
4,4,Afghanistan,"Fish, Seafood",Other uses (non-food),0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.columns

Index(['Country', 'Item', 'Element', 'Frequency', '2000-01-01', '2001-01-01',
       '2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01', '2006-01-01',
       '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01',
       '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01',
       '2017-01-01'],
      dtype='object')

### Renaming The column names and Element names

In [27]:
df.rename(columns={'2000-01-01':2000, '2001-01-01':2001,
       '2002-01-01':2002, '2003-01-01':2003, '2004-01-01':2004, '2005-01-01':2005, '2006-01-01':2006,
       '2007-01-01':2007, '2008-01-01':2008, '2009-01-01':2009, '2010-01-01':2010, '2011-01-01':2011,
       '2012-01-01':2012, '2013-01-01':2013, '2014-01-01':2014, '2015-01-01':2015, '2016-01-01':2016,
       '2017-01-01':2017}, inplace=True)
df.loc[(df.Element == 'Food'),'Element']='Human Consumption'
df.loc[(df.Element == 'Import Quantity'),'Element']='Import'
df.loc[(df.Element == 'Export Quantity'),'Element']='Export'
df.loc[(df.Element == 'Domestic supply quantity'),'Element']='Domestic supply'

### Checking for null values

In [28]:
df.isnull().sum()

Unnamed: 0    0
Country       0
Item          0
Element       0
2000          0
2001          0
2002          0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          0
2014          0
2015          0
2016          0
2017          0
dtype: int64

### Obtain the key values

In [32]:
Countries = list( df["Country"].dropna().unique())

In [35]:
Items = list(df["Item"].dropna().unique())

In [33]:
Elements = list(df["Element"].dropna().unique())
Elements

['Production',
 'Import',
 'Domestic supply',
 'Human Consumption',
 'Other uses (non-food)',
 'Export',
 'Feed',
 'Seed',
 'Losses',
 'Processing']

In [36]:
Years = list(df.columns[4:])

### Write to DB

In [50]:
def getValue(group, year):
    try:
        return df.loc[(df.Element == group),year].iloc[0] 
    except IndexError:
        return 0

In [ ]:
for country in Countries: 
    countryRows = df[df.Country.eq(country)] #sub-table with only rows of one country
    for foodGroup in Items:
        foodRows = countryRows[countryRows.Item.eq(foodGroup)]
        doc = {'_id':':'.join((foodGroup, country))}
        if doc['_id'] in db:
            continue
        for year in Years:
            TotalConsumption = getValue('Human Consumption',year) + getValue('Export',year)  + getValue('Feed',year)  + getValue('Seed',year)  + getValue('Other uses (non-food)',year)  + getValue('Losses',year)  + getValue('Processing',year)  + getValue('Domestic supply',year)
            TotalProduction = getValue('Production',year) + getValue('Import',year) 
            FoodSDGap = TotalProduction - TotalConsumption
            doc[year] = {'Total Consumption':TotalConsumption,'Total Production':TotalProduction,'Food Supply Demand Gap':FoodSDGap}  
            
        print(doc,"\n")
        #db.create_document(doc)