# Transfer Data to Cloudant DB

In [ ]:
!pip install cloudant
from cloudant.client import Cloudant

### Accessing the DB using Cloudant credentials

In [2]:
client = Cloudant(UID, PWD, url='https://fff711cd-0e17-4a85-8aec-b4c83b37f08c-bluemix:352eb3f90b59a9f45c11d1d14399810e7718beaaff192430e96ac274ea8711b5@fff711cd-0e17-4a85-8aec-b4c83b37f08c-bluemix.cloudantnosqldb.appdomain.cloud',
                 connect=True,
                 auto_renew=True)

In [3]:
db = client['food-security']

In [17]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# client_7f1b516ad1c140ce8739e4a826ef7cfb

body = client_7f1b516ad1c140ce8739e4a826ef7cfb.get_object(Bucket='foodsecurity-donotdelete-pr-cilvxk81vtmfij',Key='FoodBalancePart2.csv')['Body']
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df= pd.read_csv(body)
df.head()

,Unnamed: 0,Country,Item,Element,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,1,Kuwait,Vegetables,Losses,30.0,30.0,27.0,28.0,31.0,32.0,...,31.0,35.0,32.0,36.0,34.0,53.0,41.0,50.0,40.0,43.0
2,2,Kuwait,Vegetables,Other uses (non-food),0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Kuwait,Vegetables,Human Consumption,401.0,399.0,363.0,361.0,404.0,412.0,...,445.0,470.0,451.0,521.0,470.0,752.0,699.0,656.0,675.0,725.0
4,4,Kuwait,Vegetable Oils,Production,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0

In [18]:
df.columns

Index(['Unnamed: 0', 'Country', 'Item', 'Element', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

### Renaming The column names and Element names

In [19]:
df.rename(columns={'2000-01-01':2000, '2001-01-01':2001,
       '2002-01-01':2002, '2003-01-01':2003, '2004-01-01':2004, '2005-01-01':2005, '2006-01-01':2006,
       '2007-01-01':2007, '2008-01-01':2008, '2009-01-01':2009, '2010-01-01':2010, '2011-01-01':2011,
       '2012-01-01':2012, '2013-01-01':2013, '2014-01-01':2014, '2015-01-01':2015, '2016-01-01':2016,
       '2017-01-01':2017}, inplace=True)
df.loc[(df.Element == 'Food'),'Element']='Human Consumption'
df.loc[(df.Element == 'Import Quantity'),'Element']='Import'
df.loc[(df.Element == 'Export Quantity'),'Element']='Export'
df.loc[(df.Element == 'Domestic supply quantity'),'Element']='Domestic supply'

### Checking for null values

In [20]:
df.isnull().sum()

Unnamed: 0    0
Country       0
Item          0
Element       0
2000          0
2001          0
2002          0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          0
2014          0
2015          0
2016          0
2017          0
dtype: int64

### Obtain the key values

In [21]:
Countries = list( df["Country"].dropna().unique())

In [22]:
Items = list(df["Item"].dropna().unique())

In [23]:
Elements = list(df["Element"].dropna().unique())
Elements

['Production',
 'Losses',
 'Other uses (non-food)',
 'Human Consumption',
 'Import',
 'Stock Variation',
 'Export',
 'Domestic supply',
 'Feed',
 'Processing',
 'Seed']

In [24]:
Years = list(df.columns[4:])

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017']

### Write to DB

In [25]:
def getValue(group, year):
    try:
        return foodRows.loc[(df.Element == group),year].iloc[0] 
    except IndexError:
        return 0

In [ ]:
for country in Countries: 
    countryRows = df[df.Country.eq(country)] #sub-table with only rows of one country
    for foodGroup in Items:
        foodRows = countryRows[countryRows.Item.eq(foodGroup)]
        doc = {'_id':':'.join((foodGroup, country))}
        if doc['_id'] in db:
            continue
        for year in Years:
            TotalConsumption = getValue('Human Consumption',year) + getValue('Export',year)  + getValue('Feed',year)  + getValue('Seed',year)  + getValue('Other uses (non-food)',year)  + getValue('Losses',year)  + getValue('Processing',year)  + getValue('Domestic supply',year)
            TotalProduction = getValue('Production',year) + getValue('Import',year) 
            FoodSDGap = TotalProduction - TotalConsumption
            doc[year] = {'Total Consumption':TotalConsumption,'Total Production':TotalProduction,'Food Supply Demand Gap':FoodSDGap}  
            
        print(doc['_id'],"\n")
        db.create_document(doc)