In [139]:
pip install knoema

Requirement already satisfied: knoema in c:\users\user\appdata\roaming\python\python37\site-packages (1.2)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from knoema) (0.25.1)
Requirement already satisfied: python-csv in c:\users\user\appdata\roaming\python\python37\site-packages (from knoema) (0.0.11)
Requirement already satisfied: pytest-shutil in c:\users\user\appdata\roaming\python\python37\site-packages (from knoema) (1.7.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->knoema) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas->knoema) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user\anaconda3\lib\site-packages (from pandas->knoema) (1.16.5)
Requirement already satisfied: xmltodict in c:\users\user\appdata\roaming\python\python37\site-packages (from python-csv->knoema) (0.12.0)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (from python-csv->knoema) (3.1.1)
Requirement already satisfied: jtutils in c:\users\user\appdata\roaming\python\python37\site-packages (from python-csv->knoema) (0.0.6)
Requirement already satisfied: argparse in c:\users\user\appdata\roaming\python\python37\site-packages (from python-csv->knoema) (1.4.0)
Requirement already satisfied: demjson in c:\users\user\appdata\roaming\python\python37\site-packages (from python-csv->knoema) (2.2.4)
Requirement already satisfied: leven in c:\users\user\appdata\roaming\python\python37\site-packages (from python-csv->knoema) (1.0.4)
Requirement already satisfied: xlrd in c:\users\user\anaconda3\lib\site-packages (from python-csv->knoema) (1.2.0)
Requirement already satisfied: termcolor in c:\users\user\appdata\roaming\python\python37\site-packages (from pytest-shutil->knoema) (1.1.0)
Requirement already satisfied: path.py in c:\users\user\anaconda3\lib\site-packages (from pytest-shutil->knoema) (12.0.1)
Requirement already satisfied: execnet in c:\users\user\appdata\roaming\python\python37\site-packages (from pytest-shutil->knoema) (1.7.1)
Requirement already satisfied: mock in c:\users\user\anaconda3\lib\site-packages (from pytest-shutil->knoema) (3.0.5)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from pytest-shutil->knoema) (1.12.0)
Requirement already satisfied: pytest in c:\users\user\anaconda3\lib\site-packages (from pytest-shutil->knoema) (5.2.1)
Requirement already satisfied: contextlib2 in c:\users\user\anaconda3\lib\site-packages (from pytest-shutil->knoema) (0.6.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->python-csv->knoema) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->python-csv->knoema) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->python-csv->knoema) (2.4.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from jtutils->python-csv->knoema) (2.22.0)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from jtutils->python-csv->knoema) (4.8.0)
Requirement already satisfied: nose in c:\users\user\anaconda3\lib\site-packages (from leven->python-csv->knoema) (1.3.7)
Requirement already satisfied: importlib-metadata>=0.5 in c:\users\user\anaconda3\lib\site-packages (from path.py->pytest-shutil->knoema) (0.23)
Requirement already satisfied: apipkg>=1.4 in c:\users\user\appdata\roaming\python\python37\site-packages (from execnet->pytest-shutil->knoema) (1.5)
Requirement already satisfied: py>=1.5.0 in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (1.8.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (19.2)
Requirement already satisfied: attrs>=17.4.0 in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (19.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (1.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (0.13.0)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (0.1.7)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from pytest->pytest-shutil->knoema) (0.4.1)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->python-csv->knoema) (41.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->jtutils->python-csv->knoema) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->jtutils->python-csv->knoema) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->jtutils->python-csv->knoema) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->jtutils->python-csv->knoema) (3.0.4)
Requirement already satisfied: soupsieve>=1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->jtutils->python-csv->knoema) (1.9.3)
Requirement already satisfied: zipp>=0.5 in c:\users\user\anaconda3\lib\site-packages (from importlib-metadata>=0.5->path.py->pytest-shutil->knoema) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import knoema

In [7]:
#knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='KW;KG;LA;LV;LB;LS;LR;LT;LU;MG;MW;MY;MV;ML;MT;MR;MU;MX;MN;ME;MA;MZ;MM;NA;NP;NL;151;NC;NZ;NI;NE;NG;NO;OM;PK;PA;PY;PE;PH;PL;PT;KR;MD;RO;RU;RW;KN;LC;VC;WS;ST;SA;SN;RS;186;SL;SK;SI;SB;ZA;ES;LK;SD;SR;SZ;SE;ZW;ZM;248;YE;VN;VE;VU;UZ;228;UY;US;TZ;GB;AE;UA;UG;TM;TR;TN;TT;TG;TL;MK;TH;TJ;CH', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data1=#knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='KW;KG;LA;LV;LB;LS;LR;LT;LU;MG', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data2=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='MW;MY;MV;ML;MT;MR;MU;MX;MN;ME;MA', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data3=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='MZ;MM;NA;NP;NL;151;NC;NZ;NI;NE;NG', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data4=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='NL;151;NC;NZ;NI;NE;NG;NO;OM;PK;PA', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data5=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='PY;PE;PH;PL;PT;KR;MD;RO;RU;RW;KN;LC', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data6=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='VC;WS;ST;SA;SN;RS;186;SL;SK;SI;SB', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data7=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='WS;ST;SA;SN;RS;186;SL;SK;SI;SB;ZA', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data8=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='ES;LK;SD;SR;SZ;SE;ZW;ZM;248;YE;VN', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data9=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='VE;VU;UZ;228;UY;US;TZ;GB;AE;UA;UG', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')
#df_data10=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='TM;TR;TN;TT;TG;TL;MK;TH;TJ;CH', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')

In [127]:
import pandas as pd

In [128]:
df=pd.read_csv('FoodPartDemo2-1.csv')

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [134]:
df=df.drop(['Country.1',
       'Item.1', 'Element.1', 'Frequency.1', '2000.1', '2001.1', '2002.1',
       '2003.1', '2004.1', '2005.1', '2006.1', '2007.1', '2008.1', '2009.1',
       '2010.1', '2011.1', '2012.1', '2013.1', '2014.1', '2015.1', '2016.1',
       '2017.1'],axis=1)

In [135]:
df.head()

,Unnamed: 0,Country,Item,Element,Frequency,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Kuwait,Cereals - Excluding Beer,Production,A,3.0,3.0,5.0,3.0,3.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,1,Kuwait,Cereals - Excluding Beer,Import Quantity,A,760.0,662.0,608.0,579.0,686.0,...,921.0,1003.0,851.0,923.0,946.0,1170.0,1519.0,1181.0,1330.0,1621.0
2,2,Kuwait,Cereals - Excluding Beer,Stock Variation,A,-79.0,-34.0,55.0,40.0,-115.0,...,-51.0,-40.0,75.0,-43.0,60.0,0.0,117.0,-96.0,37.0,37.0
3,3,Kuwait,Cereals - Excluding Beer,Export Quantity,A,35.0,15.0,9.0,5.0,1.0,...,3.0,58.0,52.0,56.0,60.0,92.0,98.0,108.0,121.0,122.0
4,4,Kuwait,Cereals - Excluding Beer,Domestic supply quantity,A,648.0,616.0,659.0,617.0,573.0,...,870.0,919.0,894.0,843.0,969.0,1100.0,1358.0,1178.0,1177.0,1468.0

In [136]:
df=df.drop(['Unnamed: 0','Frequency'],axis=1)

In [137]:
df

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,Kuwait,Cereals - Excluding Beer,Import Quantity,760.0,662.0,608.0,579.0,686.0,851.0,863.0,...,921.0,1003.0,851.0,923.0,946.0,1170.0,1519.0,1181.0,1330.0,1621.0
2,Kuwait,Cereals - Excluding Beer,Stock Variation,-79.0,-34.0,55.0,40.0,-115.0,-80.0,-115.0,...,-51.0,-40.0,75.0,-43.0,60.0,0.0,117.0,-96.0,37.0,37.0
3,Kuwait,Cereals - Excluding Beer,Export Quantity,35.0,15.0,9.0,5.0,1.0,10.0,13.0,...,3.0,58.0,52.0,56.0,60.0,92.0,98.0,108.0,121.0,122.0
4,Kuwait,Cereals - Excluding Beer,Domestic supply quantity,648.0,616.0,659.0,617.0,573.0,765.0,739.0,...,870.0,919.0,894.0,843.0,969.0,1100.0,1358.0,1178.0,1177.0,1468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17410,Uganda,Sugar Crops,Domestic supply quantity,1476.0,1543.0,1850.0,2150.0,2350.0,2350.0,2450.0,...,2750.0,3300.0,3550.0,3250.0,3350.0,3900.0,4288.0,4424.0,3755.0,4379.0
17411,Uganda,Sugar Crops,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17412,Uganda,Sugar Crops,Losses,6.0,3.0,50.0,50.0,50.0,50.0,50.0,...,50.0,50.0,50.0,50.0,35.0,80.0,53.0,58.0,58.0,60.0
17413,Uganda,Sugar Crops,Processing,1350.0,1400.0,1650.0,1950.0,2150.0,2150.0,2250.0,...,2550.0,3100.0,3350.0,3050.0,3150.0,3650.0,4236.0,4366.0,3697.0,4319.0
17414,Uganda,Sugar Crops,Food,120.0,140.0,150.0,150.0,150.0,150.0,150.0,...,150.0,150.0,150.0,150.0,165.0,170.0,0.0,0.0,0.0,0.0

In [140]:

import knoema
df_data10=knoema.get('FAOFBS2017', timerange='2000-2017', frequency='A', Country='TM;TR;TN;TT;TG;TL;MK;TH;TJ;CH', Item='2905;2961;2960;2949;2948;2946;2945;2943;2928;2924;2923;2922;2919;2918;2914;2909;2911;2912;2913;2907;2908', Element='5511;5611;5072;5911;5301;5521;5527;5123;5131;5154;5142')

In [159]:
df1=df_data10.transpose()
from datetime import datetime 
newyears=[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
df_demo=df1.rename(columns={datetime.strptime('2000-01-01', "%Y-%m-%d"):2000,
 datetime.strptime('2001-01-01', "%Y-%m-%d"):2001,
 datetime.strptime('2002-01-01',"%Y-%m-%d"):2002,
 datetime.strptime('2003-01-01',"%Y-%m-%d"):2003,
 datetime.strptime('2004-01-01',"%Y-%m-%d"):2004,
 datetime.strptime('2005-01-01',"%Y-%m-%d"):2005,
 datetime.strptime('2006-01-01',"%Y-%m-%d"):2006,
 datetime.strptime('2007-01-01',"%Y-%m-%d"):2007,
 datetime.strptime('2008-01-01',"%Y-%m-%d"):2008,
 datetime.strptime('2009-01-01',"%Y-%m-%d"):2009,
 datetime.strptime('2010-01-01',"%Y-%m-%d"):2010,
 datetime.strptime('2011-01-01',"%Y-%m-%d"):2011,
 datetime.strptime('2012-01-01',"%Y-%m-%d"):2012,
 datetime.strptime('2013-01-01',"%Y-%m-%d"):2013,
 datetime.strptime('2014-01-01',"%Y-%m-%d"):2014,
 datetime.strptime('2015-01-01',"%Y-%m-%d"):2015,
 datetime.strptime('2016-01-01',"%Y-%m-%d"):2016,
 datetime.strptime('2017-01-01',"%Y-%m-%d"):2017})
df_demo.head()

                                                                            2000  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1742.0
                                      Import Quantity          A            25.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          1766.0

                                                                            2001  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1819.0
                                      Import Quantity          A            26.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          1845.0

                                                                            2002  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2434.0
                                      Import Quantity          A            72.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2507.0

                                                                            2003  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2631.0
                                      Import Quantity          A            37.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2668.0

                                                                            2004  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2748.0
                                      Import Quantity          A            10.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2758.0

                                                                            2005  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2995.0
                                      Import Quantity          A            15.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          3010.0

                                                                            2006  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          3444.0
                                      Import Quantity          A            35.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          3480.0

                                                                            2007  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2849.0
                                      Import Quantity          A           175.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          3024.0

                                                                            2008  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2649.0
                                      Import Quantity          A           470.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          3119.0

                                                                            2009  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2352.0
                                      Import Quantity          A           191.0
                                      Stock Variation          A           -15.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2528.0

                                                                            2010  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2056.0
                                      Import Quantity          A           395.0
                                      Stock Variation          A            15.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2467.0

                                                                            2011  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1458.0
                                      Import Quantity          A           601.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2059.0

                                                                            2012  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1348.0
                                      Import Quantity          A           735.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2084.0

                                                                            2013  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1458.0
                                      Import Quantity          A           727.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             NaN
                                      Domestic supply quantity A          2185.0

                                                                            2014  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1410.0
                                      Import Quantity          A           811.0
                                      Stock Variation          A           -54.0
                                      Export Quantity          A            25.0
                                      Domestic supply quantity A          2250.0

                                                                            2015  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1617.0
                                      Import Quantity          A           794.0
                                      Stock Variation          A            91.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2320.0

                                                                            2016  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1800.0
                                      Import Quantity          A           750.0
                                      Stock Variation          A           153.0
                                      Export Quantity          A            57.0
                                      Domestic supply quantity A          2340.0

                                                                            2017
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1203.0
                                      Import Quantity          A           860.0
                                      Stock Variation          A          -215.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2279.0

In [160]:
df_demo.columns

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016, 2017],
           dtype='int64')

In [162]:
import numpy as np
df_demo.replace(np.nan,0)

                                                                            2000  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1742.0
                                      Import Quantity          A            25.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          1766.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1408.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1408.0

                                                                            2001  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1819.0
                                      Import Quantity          A            26.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          1845.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1055.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1055.0

                                                                            2002  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2434.0
                                      Import Quantity          A            72.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2507.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1421.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1421.0

                                                                            2003  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2631.0
                                      Import Quantity          A            37.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2668.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1274.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1274.0

                                                                            2004  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2748.0
                                      Import Quantity          A            10.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2758.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1466.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1466.0

                                                                            2005  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2995.0
                                      Import Quantity          A            15.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          3010.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1409.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1409.0

                                                                            2006  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          3444.0
                                      Import Quantity          A            35.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          3480.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1259.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1259.0

                                                                            2007  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2849.0
                                      Import Quantity          A           175.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          3024.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1593.0
                                      Feed                     A             5.0
                                      Losses                   A             0.0
                                      Processing               A          1588.0

                                                                            2008  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2649.0
                                      Import Quantity          A           470.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          3119.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1645.0
                                      Feed                     A             4.0
                                      Losses                   A             0.0
                                      Processing               A          1641.0

                                                                            2009  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2352.0
                                      Import Quantity          A           191.0
                                      Stock Variation          A           -15.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2528.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1747.0
                                      Feed                     A             4.0
                                      Losses                   A             0.0
                                      Processing               A          1744.0

                                                                            2010  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          2056.0
                                      Import Quantity          A           395.0
                                      Stock Variation          A            15.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2467.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1306.0
                                      Feed                     A             4.0
                                      Losses                   A             0.0
                                      Processing               A          1302.0

                                                                            2011  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1458.0
                                      Import Quantity          A           601.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2059.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1856.0
                                      Feed                     A             4.0
                                      Losses                   A             0.0
                                      Processing               A          1853.0

                                                                            2012  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1348.0
                                      Import Quantity          A           735.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2084.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1697.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1697.0

                                                                            2013  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1458.0
                                      Import Quantity          A           727.0
                                      Stock Variation          A             0.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2185.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1391.0
                                      Feed                     A             0.0
                                      Losses                   A             0.0
                                      Processing               A          1391.0

                                                                            2014  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1410.0
                                      Import Quantity          A           811.0
                                      Stock Variation          A           -54.0
                                      Export Quantity          A            25.0
                                      Domestic supply quantity A          2250.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          2053.0
                                      Feed                     A            70.0
                                      Losses                   A            96.0
                                      Processing               A          1887.0

                                                                            2015  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1617.0
                                      Import Quantity          A           794.0
                                      Stock Variation          A            91.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2320.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1560.0
                                      Feed                     A             4.0
                                      Losses                   A            68.0
                                      Processing               A          1917.0

                                                                            2016  \
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1800.0
                                      Import Quantity          A           750.0
                                      Stock Variation          A           153.0
                                      Export Quantity          A            57.0
                                      Domestic supply quantity A          2340.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1324.0
                                      Feed                     A             4.0
                                      Losses                   A            64.0
                                      Processing               A          1433.0

                                                                            2017
Country      Item                     Element                  Frequency
Turkmenistan Cereals - Excluding Beer Production               A          1203.0
                                      Import Quantity          A           860.0
                                      Stock Variation          A          -215.0
                                      Export Quantity          A             0.0
                                      Domestic supply quantity A          2279.0
...                                                                          ...
Switzerland  Sugar Crops              Export Quantity          A             0.0
                                      Domestic supply quantity A          1628.0
                                      Feed                     A            15.0
                                      Losses                   A            77.0
                                      Processing               A          1536.0

[1755 rows x 18 columns]

In [164]:
df_demo.to_csv("data10.csv")

In [165]:
df10=pd.read_csv('data10.csv')
df10.head()

,Country,Item,Element,Frequency,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Turkmenistan,Cereals - Excluding Beer,Production,A,1742.0,1819.0,2434.0,2631.0,2748.0,2995.0,...,2649.0,2352.0,2056.0,1458.0,1348.0,1458.0,1410.0,1617.0,1800.0,1203.0
1,Turkmenistan,Cereals - Excluding Beer,Import Quantity,A,25.0,26.0,72.0,37.0,10.0,15.0,...,470.0,191.0,395.0,601.0,735.0,727.0,811.0,794.0,750.0,860.0
2,Turkmenistan,Cereals - Excluding Beer,Stock Variation,A,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-15.0,15.0,0.0,0.0,0.0,-54.0,91.0,153.0,-215.0
3,Turkmenistan,Cereals - Excluding Beer,Export Quantity,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,0.0,57.0,0.0
4,Turkmenistan,Cereals - Excluding Beer,Domestic supply quantity,A,1766.0,1845.0,2507.0,2668.0,2758.0,3010.0,...,3119.0,2528.0,2467.0,2059.0,2084.0,2185.0,2250.0,2320.0,2340.0,2279.0

In [166]:
df10.columns

Index(['Country', 'Item', 'Element', 'Frequency', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [183]:
df10=df10.drop(['Frequency'],axis=1)

In [182]:
df10=df10.replace(np.nan,0)

In [170]:
df = df.reset_index(drop=True)

In [179]:
df10 = df10.reset_index(drop=True)

In [184]:
df

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,Kuwait,Cereals - Excluding Beer,Import Quantity,760.0,662.0,608.0,579.0,686.0,851.0,863.0,...,921.0,1003.0,851.0,923.0,946.0,1170.0,1519.0,1181.0,1330.0,1621.0
2,Kuwait,Cereals - Excluding Beer,Stock Variation,-79.0,-34.0,55.0,40.0,-115.0,-80.0,-115.0,...,-51.0,-40.0,75.0,-43.0,60.0,0.0,117.0,-96.0,37.0,37.0
3,Kuwait,Cereals - Excluding Beer,Export Quantity,35.0,15.0,9.0,5.0,1.0,10.0,13.0,...,3.0,58.0,52.0,56.0,60.0,92.0,98.0,108.0,121.0,122.0
4,Kuwait,Cereals - Excluding Beer,Domestic supply quantity,648.0,616.0,659.0,617.0,573.0,765.0,739.0,...,870.0,919.0,894.0,843.0,969.0,1100.0,1358.0,1178.0,1177.0,1468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17410,Uganda,Sugar Crops,Domestic supply quantity,1476.0,1543.0,1850.0,2150.0,2350.0,2350.0,2450.0,...,2750.0,3300.0,3550.0,3250.0,3350.0,3900.0,4288.0,4424.0,3755.0,4379.0
17411,Uganda,Sugar Crops,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17412,Uganda,Sugar Crops,Losses,6.0,3.0,50.0,50.0,50.0,50.0,50.0,...,50.0,50.0,50.0,50.0,35.0,80.0,53.0,58.0,58.0,60.0
17413,Uganda,Sugar Crops,Processing,1350.0,1400.0,1650.0,1950.0,2150.0,2150.0,2250.0,...,2550.0,3100.0,3350.0,3050.0,3150.0,3650.0,4236.0,4366.0,3697.0,4319.0
17414,Uganda,Sugar Crops,Food,120.0,140.0,150.0,150.0,150.0,150.0,150.0,...,150.0,150.0,150.0,150.0,165.0,170.0,0.0,0.0,0.0,0.0

In [185]:
df10

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Turkmenistan,Cereals - Excluding Beer,Production,1742.0,1819.0,2434.0,2631.0,2748.0,2995.0,3444.0,...,2649.0,2352.0,2056.0,1458.0,1348.0,1458.0,1410.0,1617.0,1800.0,1203.0
1,Turkmenistan,Cereals - Excluding Beer,Import Quantity,25.0,26.0,72.0,37.0,10.0,15.0,35.0,...,470.0,191.0,395.0,601.0,735.0,727.0,811.0,794.0,750.0,860.0
2,Turkmenistan,Cereals - Excluding Beer,Stock Variation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-15.0,15.0,0.0,0.0,0.0,-54.0,91.0,153.0,-215.0
3,Turkmenistan,Cereals - Excluding Beer,Export Quantity,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,57.0,0.0
4,Turkmenistan,Cereals - Excluding Beer,Domestic supply quantity,1766.0,1845.0,2507.0,2668.0,2758.0,3010.0,3480.0,...,3119.0,2528.0,2467.0,2059.0,2084.0,2185.0,2250.0,2320.0,2340.0,2279.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,Switzerland,Sugar Crops,Export Quantity,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1751,Switzerland,Sugar Crops,Domestic supply quantity,1408.0,1055.0,1421.0,1274.0,1466.0,1409.0,1259.0,...,1645.0,1747.0,1306.0,1856.0,1697.0,1391.0,2053.0,1560.0,1324.0,1628.0
1752,Switzerland,Sugar Crops,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,0.0,0.0,70.0,4.0,4.0,15.0
1753,Switzerland,Sugar Crops,Losses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,96.0,68.0,64.0,77.0
1754,Switzerland,Sugar Crops,Processing,1408.0,1055.0,1421.0,1274.0,1466.0,1409.0,1259.0,...,1641.0,1744.0,1302.0,1853.0,1697.0,1391.0,1887.0,1917.0,1433.0,1536.0

In [187]:
dfdemo=pd.concat([df,df10])

In [188]:
dfdemo

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,Kuwait,Cereals - Excluding Beer,Import Quantity,760.0,662.0,608.0,579.0,686.0,851.0,863.0,...,921.0,1003.0,851.0,923.0,946.0,1170.0,1519.0,1181.0,1330.0,1621.0
2,Kuwait,Cereals - Excluding Beer,Stock Variation,-79.0,-34.0,55.0,40.0,-115.0,-80.0,-115.0,...,-51.0,-40.0,75.0,-43.0,60.0,0.0,117.0,-96.0,37.0,37.0
3,Kuwait,Cereals - Excluding Beer,Export Quantity,35.0,15.0,9.0,5.0,1.0,10.0,13.0,...,3.0,58.0,52.0,56.0,60.0,92.0,98.0,108.0,121.0,122.0
4,Kuwait,Cereals - Excluding Beer,Domestic supply quantity,648.0,616.0,659.0,617.0,573.0,765.0,739.0,...,870.0,919.0,894.0,843.0,969.0,1100.0,1358.0,1178.0,1177.0,1468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,Switzerland,Sugar Crops,Export Quantity,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1751,Switzerland,Sugar Crops,Domestic supply quantity,1408.0,1055.0,1421.0,1274.0,1466.0,1409.0,1259.0,...,1645.0,1747.0,1306.0,1856.0,1697.0,1391.0,2053.0,1560.0,1324.0,1628.0
1752,Switzerland,Sugar Crops,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,0.0,0.0,70.0,4.0,4.0,15.0
1753,Switzerland,Sugar Crops,Losses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,96.0,68.0,64.0,77.0
1754,Switzerland,Sugar Crops,Processing,1408.0,1055.0,1421.0,1274.0,1466.0,1409.0,1259.0,...,1641.0,1744.0,1302.0,1853.0,1697.0,1391.0,1887.0,1917.0,1433.0,1536.0

In [189]:

dfdemo.loc[(dfdemo.Element == 'Food'),'Element']='Human Consumption'
dfdemo.loc[(dfdemo.Element == 'Import Quantity'),'Element']='Import'
dfdemo.loc[(dfdemo.Element == 'Export Quantity'),'Element']='Export'
dfdemo.loc[(dfdemo.Element == 'Domestic supply quantity'),'Element']='Domestic supply'
dfdemo

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,Kuwait,Cereals - Excluding Beer,Import,760.0,662.0,608.0,579.0,686.0,851.0,863.0,...,921.0,1003.0,851.0,923.0,946.0,1170.0,1519.0,1181.0,1330.0,1621.0
2,Kuwait,Cereals - Excluding Beer,Stock Variation,-79.0,-34.0,55.0,40.0,-115.0,-80.0,-115.0,...,-51.0,-40.0,75.0,-43.0,60.0,0.0,117.0,-96.0,37.0,37.0
3,Kuwait,Cereals - Excluding Beer,Export,35.0,15.0,9.0,5.0,1.0,10.0,13.0,...,3.0,58.0,52.0,56.0,60.0,92.0,98.0,108.0,121.0,122.0
4,Kuwait,Cereals - Excluding Beer,Domestic supply,648.0,616.0,659.0,617.0,573.0,765.0,739.0,...,870.0,919.0,894.0,843.0,969.0,1100.0,1358.0,1178.0,1177.0,1468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,Switzerland,Sugar Crops,Export,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1751,Switzerland,Sugar Crops,Domestic supply,1408.0,1055.0,1421.0,1274.0,1466.0,1409.0,1259.0,...,1645.0,1747.0,1306.0,1856.0,1697.0,1391.0,2053.0,1560.0,1324.0,1628.0
1752,Switzerland,Sugar Crops,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,0.0,0.0,70.0,4.0,4.0,15.0
1753,Switzerland,Sugar Crops,Losses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,96.0,68.0,64.0,77.0
1754,Switzerland,Sugar Crops,Processing,1408.0,1055.0,1421.0,1274.0,1466.0,1409.0,1259.0,...,1641.0,1744.0,1302.0,1853.0,1697.0,1391.0,1887.0,1917.0,1433.0,1536.0

In [190]:
dfdemo = dfdemo.reset_index(drop=True)

In [192]:
sorted_df = dfdemo.sort_values(by='Country')

In [193]:
sorted_df

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
101,Kuwait,Vegetables,Losses,30.0,30.0,27.0,28.0,31.0,32.0,43.0,...,31.0,35.0,32.0,36.0,34.0,53.0,41.0,50.0,40.0,43.0
102,Kuwait,Vegetables,Other uses (non-food),0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103,Kuwait,Vegetables,Human Consumption,401.0,399.0,363.0,361.0,404.0,412.0,583.0,...,445.0,470.0,451.0,521.0,470.0,752.0,699.0,656.0,675.0,725.0
104,Kuwait,Vegetable Oils,Production,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14833,Zimbabwe,Vegetables,Losses,13.0,15.0,14.0,16.0,17.0,10.0,12.0,...,8.0,10.0,12.0,12.0,20.0,20.0,24.0,24.0,25.0,25.0
14832,Zimbabwe,Vegetables,Seed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14831,Zimbabwe,Vegetables,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14842,Zimbabwe,Vegetable Oils,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,19.0,24.0,15.0
14866,Zimbabwe,Pulses,Losses,3.0,3.0,4.0,4.0,4.0,3.0,3.0,...,2.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0

In [194]:
sorted_df = sorted_df.reset_index(drop=True)

In [195]:
sorted_df

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Kuwait,Cereals - Excluding Beer,Production,3.0,3.0,5.0,3.0,3.0,4.0,4.0,...,3.0,13.0,20.0,20.0,23.0,22.0,54.0,9.0,5.0,6.0
1,Kuwait,Vegetables,Losses,30.0,30.0,27.0,28.0,31.0,32.0,43.0,...,31.0,35.0,32.0,36.0,34.0,53.0,41.0,50.0,40.0,43.0
2,Kuwait,Vegetables,Other uses (non-food),0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kuwait,Vegetables,Human Consumption,401.0,399.0,363.0,361.0,404.0,412.0,583.0,...,445.0,470.0,451.0,521.0,470.0,752.0,699.0,656.0,675.0,725.0
4,Kuwait,Vegetable Oils,Production,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19165,Zimbabwe,Vegetables,Losses,13.0,15.0,14.0,16.0,17.0,10.0,12.0,...,8.0,10.0,12.0,12.0,20.0,20.0,24.0,24.0,25.0,25.0
19166,Zimbabwe,Vegetables,Seed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19167,Zimbabwe,Vegetables,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19168,Zimbabwe,Vegetable Oils,Feed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,19.0,24.0,15.0
19169,Zimbabwe,Pulses,Losses,3.0,3.0,4.0,4.0,4.0,3.0,3.0,...,2.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0

In [196]:
sorted_df=sorted_df.replace(np.nan,0)

In [197]:
sorted_df.to_csv('FoodBalancePart2.csv')

In [198]:
df_part1=pd.read_excel('FoodBalanceSheet Part1.xlsx')

In [199]:
df_part1.head()

,Country,Item,Element,Frequency,2000-01-01 00:00:00,2001-01-01 00:00:00,2002-01-01 00:00:00,2003-01-01 00:00:00,2004-01-01 00:00:00,2005-01-01 00:00:00,...,2008-01-01 00:00:00,2009-01-01 00:00:00,2010-01-01 00:00:00,2011-01-01 00:00:00,2012-01-01 00:00:00,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00
0,Afghanistan,"Fish, Seafood",Production,A,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
1,Afghanistan,"Fish, Seafood",Import Quantity,A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,"Fish, Seafood",Domestic supply quantity,A,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
3,Afghanistan,"Fish, Seafood",Food,A,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
4,Afghanistan,"Fish, Seafood",Other uses (non-food),A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [200]:
from datetime import datetime 
newyears=[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
df_part1=df_part1.rename(columns={datetime.strptime('2000-01-01 00:00:00', "%Y-%m-%d %H:%M:%S"):2000,
 datetime.strptime('2001-01-01 00:00:00', "%Y-%m-%d %H:%M:%S"):2001,
 datetime.strptime('2002-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2002,
 datetime.strptime('2003-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2003,
 datetime.strptime('2004-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2004,
 datetime.strptime('2005-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2005,
 datetime.strptime('2006-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2006,
 datetime.strptime('2007-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2007,
 datetime.strptime('2008-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2008,
 datetime.strptime('2009-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2009,
 datetime.strptime('2010-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2010,
 datetime.strptime('2011-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2011,
 datetime.strptime('2012-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2012,
 datetime.strptime('2013-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2013,
 datetime.strptime('2014-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2014,
 datetime.strptime('2015-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2015,
 datetime.strptime('2016-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2016,
 datetime.strptime('2017-01-01 00:00:00',"%Y-%m-%d %H:%M:%S"):2017})
df_part1.head()

,Country,Item,Element,Frequency,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,"Fish, Seafood",Production,A,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
1,Afghanistan,"Fish, Seafood",Import Quantity,A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,"Fish, Seafood",Domestic supply quantity,A,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
3,Afghanistan,"Fish, Seafood",Food,A,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
4,Afghanistan,"Fish, Seafood",Other uses (non-food),A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [201]:
df_part1=df_part1.drop(['Frequency'],axis=1)
df_part1=df_part1.replace(np.nan,0)
df_part1

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,"Fish, Seafood",Production,1,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
1,Afghanistan,"Fish, Seafood",Import Quantity,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,"Fish, Seafood",Domestic supply quantity,1,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
3,Afghanistan,"Fish, Seafood",Food,1,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
4,Afghanistan,"Fish, Seafood",Other uses (non-food),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14297,Kiribati,Vegetable Oils,Import Quantity,0,0,0,0,0,0,1,...,5,0,0,0,0,1,0,1,1,1
14298,Kiribati,Vegetable Oils,Export Quantity,0,0,0,0,1,4,3,...,1,3,2,4,1,1,3,2,0,1
14299,Kiribati,Vegetable Oils,Domestic supply quantity,1,1,1,3,3,-1,2,...,6,2,2,2,2,4,2,3,6,4
14300,Kiribati,Vegetable Oils,Food,1,1,1,1,0,1,1,...,1,1,0,1,1,1,1,1,1,1
14301,Kiribati,Vegetable Oils,Other uses (non-food),0,0,0,3,3,0,1,...,6,1,1,1,2,3,0,0,0,0

In [202]:
df_part1.loc[(df_part1.Element == 'Food'),'Element']='Human Consumption'
df_part1.loc[(df_part1.Element == 'Import Quantity'),'Element']='Import'
df_part1.loc[(df_part1.Element == 'Export Quantity'),'Element']='Export'
df_part1.loc[(df_part1.Element == 'Domestic supply quantity'),'Element']='Domestic supply'
df_part1

,Country,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,"Fish, Seafood",Production,1,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
1,Afghanistan,"Fish, Seafood",Import,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,"Fish, Seafood",Domestic supply,1,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
3,Afghanistan,"Fish, Seafood",Human Consumption,1,1,1,1,1,1,1,...,2,2,2,2,2,2,6,7,8,9
4,Afghanistan,"Fish, Seafood",Other uses (non-food),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14297,Kiribati,Vegetable Oils,Import,0,0,0,0,0,0,1,...,5,0,0,0,0,1,0,1,1,1
14298,Kiribati,Vegetable Oils,Export,0,0,0,0,1,4,3,...,1,3,2,4,1,1,3,2,0,1
14299,Kiribati,Vegetable Oils,Domestic supply,1,1,1,3,3,-1,2,...,6,2,2,2,2,4,2,3,6,4
14300,Kiribati,Vegetable Oils,Human Consumption,1,1,1,1,0,1,1,...,1,1,0,1,1,1,1,1,1,1
14301,Kiribati,Vegetable Oils,Other uses (non-food),0,0,0,3,3,0,1,...,6,1,1,1,2,3,0,0,0,0

In [204]:
df_part1.columns

Index(['Country',    'Item', 'Element',      2000,      2001,      2002,
            2003,      2004,      2005,      2006,      2007,      2008,
            2009,      2010,      2011,      2012,      2013,      2014,
            2015,      2016,      2017],
      dtype='object')

In [205]:
df_part1.to_csv('FoodBalancePart1.csv')